<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'>

  <style type="text/css">

    .firstBackground {
      background: url(images/logobg.png) no-repeat center center fixed;
      background-size: cover;
    }
    #firstContainer{
      padding-top:60px;
      padding-bottom: 60px;
      text-align: center;
      box-shadow: inset 0 -8px 3px -7px black;
    }
    #fbloginButton:hover{
      opacity: 0.9;
    }
    #fbloginButton{
      display: block;
	    width: 249px;
	    height: 51px;
      cursor:pointer;
      opacity:1;
      margin: auto;
      padding: 30px;
    }
    #aboutus{
      padding-top: 30px;
      background: url(http://www.deviantart.com/download/90869487/Sand_Pattern_by_ScintillaOfEternity.jpg);
      box-shadow: inset 0 8px 50px -8px black;
    }
    .headaboutus{
      padding-bottom: 0px;
      text-align: center;
      margin: auto;
    }
    #us{
      text-align: center;
      font-size: 26px;
      display: block;
      margin: auto;
      padding-top: 15px;
      font-family: "Josefin Sans";
      line-height: 28px; 
      width: 80%;
      max-width: 1000px;     
    }
    .bio{
      display: block;
      text-align: center;
      margin: auto;
    }  
    .fong{
      background-color: #ccc;
      display: block;
      width: 380px;
      height: 130px;
      position: absolute;
      opacity: 0.9;
      z-index: 3;
      display: none;
      margin-left: 49px;
      margin-top: 360px;
    }
    .eva{
    
    }

  </style>
</head>
<body>
  <div class="firstBackground">
    <div id="firstContainer">
      <img src="images/logoword.png" alt=""/>
      <img id="fbloginButton" src="https://dl.dropbox.com/u/20617985/fbLogInButton.png" alt="" />
    </div>
  </div>
  <div class="space"></div>
  <div id="aboutus">
    <div class="headaboutus">
      <img src="images/aboutus.png" alt="" />
      <p id="us">
      DragPic is our first open sourced project on <a href="https://github.com/songz/Facebook-Album.git">GitHub</a>. With the help from our mentor<a href="https://twitter.com/songzme"> Song Zheng</a>, we began just a couple months ago, and are loving it! You can help us improve our code on GitHub, or just let one of us (<a href="https://twitter.com/FongChinxx">Fong</a> || <a href="https://twitter.com/eeevahhh">Eva</a>) know on Twitter :D
      </p>

  </div>
    <div class="bio">
      <div class="fong">boo</div>
      <div class="eva"></div>
      <img src="images/fong.png" alt="" class="fongpic" />
      <img src="images/eva.png" alt="" class="evapic" />
      <p id="us">
        Feel free to follow our code journey by reading our blogs!
      </p>
      <p id="us">
<a href="http://www.fongchin.com">Fong's Blogawog</a>   ||    
<a href="http://www.gowitherz.me">Eva's Blogawog</a>   
      </p>
    </div>
  
  <script src="http://code.jquery.com/jquery-1.7.2.min.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
    
  <script type="text/javascript">
    fheight=$(".fongpic").height();
    fwidth=$(".fongpic").width();
    fpos=$(".fongpic").position();
    eheight=$(".evapic").height();
    ewidth=$(".evapic").width();
    epos=$(".evapic").position();

    fcounter=0;
    fhoverin=
      function(){
        $(".fong").css({
          'display': "none",
          'top':fpos.top,
          'left':fpos.left,
          'width':fwidth-104,
          'height':fheight-510,
          })
      };

  function fhoverout (e){
      console.log(e.clientY);
      console.log(fpos.top);
      console.log(fheight);
      if (e.screenX < fpos.left || e.screenX > fpos.left+fwidth || e.screenY < fpos.top-fheight || e.screenY > fpos.top) {
    $(".fong").css('display', "block");
   }
  };
   $(".fongpic").mousemove(fhoverin, fhoverout);
</script>
</body>
</html>
