<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style type="text/css"></style>
  </head>
  <body>
    <div id="fblogout" class="authButton">Log Out of Facebook</div>
    <div id="fblogin" class="authButton">Log In to Facebook</div>

      <h1 id="pageTitle">Upload Pictures to Facebook</h1>

      <div class="stepMessage" id="instruction">Create or Pick an Album</div>

    <div class="container">
      <center>
        <div class="row" id="albumStep">
          <div class="albumImg" id="newAlbum">
            <span href="#" class="thumbnail">
              <p>Create New Album</p>
              <img src="http://placehold.it/360x180" alt="" />
            </span>
          </div>
        </div>
      </center>

    </div>

    <div id="coverOverlay">
      <h1>Drop your Files</h1>
      <h1>Here!</h1>
    </div>


    <div class="stepMessage" id="instruction2">Create or Pick an Album</div>

    <div id="fb-root"></div>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script>
      var navTop = $('.stepMessage').position().top;
      var tmpStepMessage = $('#instruction2');

      $(window).scroll(function(){
        var curtop = $(window).scrollTop();
        if( curtop >= navTop ){
          tmpStepMessage.show();
          $('#instruction').css('opacity', 0);
        }else{
          tmpStepMessage.hide();
          $('#instruction').css('opacity', 1);
        }
      });

function drop(evt){
  $('#coverOverlay').hide();
  evt.stopPropagation();
  evt.preventDefault();

  var files = evt.dataTransfer.files;
  file = files[0];
  var url = "https://graph.facebook.com/"+$('.selectedAlbum').attr('id')+"/photos";
  console.log(url);
  for(var i = 0; i < files.length; i++){
    file = files[i];
    console.log(file.name);

    var formData = new FormData();
    formData.append('access_token', window.fbAccessToken);
    formData.append(file.name, file);

    var xhr=new XMLHttpRequest();
    xhr.open("POST", url, true );  

    xhr.send(formData);  // multipart/form-data
  }
}

 
// init event handlers
function prevent(evt){
  evt.stopPropagation();
  evt.preventDefault();
}
function dragEnter(evt){
  evt.stopPropagation();
  evt.preventDefault();
  $('#coverOverlay').show();
  console.log("drag Enter!");
  numEnter += 1;
}
function dragLeave(evt){
  evt.stopPropagation();
  evt.preventDefault();
  console.log("LEFT!");
  numEnter -= 1;
  if(numEnter== 0){
    $('#coverOverlay').hide();
  }
}
function reset(evt){
  evt.stopPropagation();
  evt.preventDefault();
  $('#coverOverlay').hide();
  numEnter = 0;
}
var numEnter = 0;
document.addEventListener("dragenter", dragEnter, false);
document.addEventListener("dragleave", dragLeave, false);
document.addEventListener("dragend", reset, false);
document.addEventListener("dragover", prevent, false);
document.addEventListener("drop", drop, false);


      function getAlbums(response){
        var albums = response.data;
        for(var i=0; i<albums.length; i++){
          var album = albums[i];
          console.log(album);
          var newDiv = $('<div />', {class:'albumImg', coverPhoto:album.cover_photo, id:album.id });
          var newa = $('<span />', {href:'#', class:'thumbnail'});
          var newp = $('<p />', {text:album.name});
          var newImg = $('<img />', {src:"http://placehold.it/360x180"});
          newa.append(newp);
          newa.append(newImg);
          newDiv.append(newa);
          $('#albumStep').append(newDiv);
          newDiv.click(function(){
            console.log("CLICKED1");
            console.log(this);
            $('.selectedAlbum').removeClass('selectedAlbum');
            $(this).addClass('selectedAlbum');
            $('#instruction').text('Drag Pictures here!');
          });

          FB.api("/"+album.cover_photo, function(response2){
            var img = $('.albumImg[coverPhoto='+response2.id+"]").find('img');
            img.attr('src', response2.source);
          });
        }
      }
      $('#createAlbum').click(function(){
        FB.api('/me/albums', 'post', {name:'testAlbum', description:'Album is created as a test from the HACK FOR CHANGE'}, function(response){
          console.log(response);
        });
      });

      $('#fblogout').click(function(){
        FB.logout(function(){
          $('#fblogin').show();
          $('#fblogout').hide();
        });
      });

      $('#fblogin').click(function(){
        FB.login(function(response) {
          if (response.authResponse) {
            $('#fblogout').show();
            $('#fblogin').hide();
          } else {
            alert("Please Allow");
          }
        }, {scope: 'publish_stream'});
      });

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '132631233489866', // App ID
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });

        // Additional initialization code here
        // Your code goes here!
        FB.Event.subscribe('auth.statusChange', function(response){
          console.log(response.status);
          if(response.status!="connected"){
            $('#fblogin').show();
            $('#fblogout').hide();
          }else{
            window.fbAccessToken=response.authResponse.accessToken;
            FB.api('/me/albums', getAlbums);
            $('#fblogout').show();
            $('#fblogin').hide();
          }
        });
      };

      // Load the SDK Asynchronously
      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));
    </script>
  </body>
</html>
